<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="YourAppName"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"> <!-- Enable back navigation for Android 13+ -->

        <!-- Other app-level configurations -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
